extends layout

block content
  h1= title

  p SPA to show music library and some ther interesting stuff

  #Wrapper
    #AddSong
      h2 Add Song
      fieldset(class='fieldset-auto-width')
        input#inputTitle(type='text', placeholder='Title', autocomplete='off')
        br
        input#inputArtist(type='text', placeholder='Artist', autocomplete='off')
        br
        select#inputGenre(, autocomplete='off', placeholder='Genre')
          option(value='') Genre
          option(value='Rock') Rock
          option(value='Pop') Pop
          option(value='Blues') Blues
        br

        button#NoteC(class='NoteButtons') C
        button#NoteCS(class='NoteButtons') C#
        button#NoteD(class='NoteButtons') D
        button#NoteDS(class='NoteButtons') D#
        button#NoteE(class='NoteButtons') E
        button#NoteF(class='NoteButtons') F
        br
        button#NoteFS(class='NoteButtons') F#
        button#NoteG(class='NoteButtons') G
        button#NoteGS(class='NoteButtons') G#
        button#NoteA(class='NoteButtons') A
        button#NoteBb(class='NoteButtons') Bb
        button#NoteB(class='NoteButtons') B

        br

        input#inputNotes(type='text', placeholder='Notes',value='', readonly, , autocomplete='off')

        br

        button#AddSongToDB Add Song
    #library
      h2 Songs in library

    #Song
      h2 Selected Song
      p
        strong Title:
        |  <span id='songInfoTitle'></span>
        br
        strong Artist:
        |  <span id='songInfoArtist'></span>
        br
        strong Genre:
        |  <span id='songInfoGenre'></span>
  #D3Test
  #test